.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.pem
environment.properties
core/service/src/main/resources/keystore.p12
**/*.jks
**/ca-key
### IntelliJ IDEA ###
.kotlin
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Application ###
deployment/keys
deployment/elastic-stack/elasticsearch/certs/*
!deployment/elastic-stack/elasticsearch/certs/instances.yml
local.properties
!deployment/local-testing-environment/security/*
!deployment/orchestrator/dozzle/users.actual.yaml