[mariadb]
plugin-load-add                  = file_key_management
file_key_management_filename     = /etc/mysql/encryption/encryption.key

innodb_encrypt_tables            = FORCE
innodb_encrypt_log               = ON
innodb_encryption_threads        = 4
innodb_encryption_rotate_key_age = 1

encrypt_tmp_files                = ON
encrypt_binlog                   = ON

aria_encrypt_tables              = ON
