<configuration>

    <!-- Rolling and compressing are done on the Dockers side-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%-5level] [${APPLICATION_SERVICE_NAME}:${APPLICATION_SERVICE_VERSION}] [%logger{35}]:
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Root -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Logger levels -->
    <logger name="com.zaxxer.hikari" level="warn"/>
    <logger name="org.apache.kafka" level="warn"/>
    <logger name="org.mariadb.jdbc" level="warn"/>
    <logger name="reactor.netty" level="warn"/>
    <logger name="com.yubico.webauthn" level="warn"/>
    <logger name="org.flywaydb" level="warn"/>
    <logger name="io.lettuce.core" level="warn"/>
    <logger name="io.netty" level="info"/>
    <logger name="com.wolt" level="warn"/>
    <logger name="Exposed" level="warn"/>
    <logger name="io.swagger.codegen.v3.generators" level="info"/>
    <logger name="com.github.jknack.handlebars.internal" level="info"/>
</configuration>