#log all dns queries
log-queries
#use google as default nameservers
server=8.8.4.4
server=8.8.8.8
server=1.1.1.1
#explicitly define host-ip mappings
host-record=${DOMAIN_NAME}, 10.8.0.2
cname=local.${DOMAIN_NAME}, ${DOMAIN_NAME}
cname=www.${DOMAIN_NAME}, ${DOMAIN_NAME}
cname=orchestrator.${DOMAIN_NAME}, ${DOMAIN_NAME}
cname=kafka.${DOMAIN_NAME}, ${DOMAIN_NAME}
cname=kibana.${DOMAIN_NAME}, ${DOMAIN_NAME}
cname=vpn.${DOMAIN_NAME}, ${DOMAIN_NAME}
cname=admin.${DOMAIN_NAME}, ${DOMAIN_NAME}
cname=dozzle.${DOMAIN_NAME}, ${DOMAIN_NAME}